@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  --bg-main: #000;
  --primary-blue: #38b6ff;
}

body {
  background: var(--bg-main);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.sectionWidth {
  @apply max-w-7xl mx-auto w-full;
}

.wrapper {
  @apply px-6 md:px-19;
}

/* Navbar section ⬇️ */
.listHover:hover {
  color: var(--primary-blue);
  transform: translateY(-8px);
}
/* Navbar section ⬆️ */

/* Hero section ⬇️ */

/* Hero section ⬆️ */
